@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .topbar {
    @apply fixed top-0 flex w-full items-center justify-between px-6 py-3;
  }

  .navbar_link {
    @apply relative flex gap-4 p-3 pl-4 pr-4 font-semibold text-sm w-32 items-center justify-center;
  }

  .main-container {
    @apply flex min-h-screen flex-col items-center px-6 pb-10 pt-16 max-md:pb-32 sm:px-10 circles;
  }

  .widget-wrapper{ 
    @apply w-screen flex items-center justify-center mt-14;
  }

  .widget-content{
    @apply w-[38rem] rounded-2xl p-4 circles border;
  }

  .swap-content{
    @apply w-[36rem] rounded-2xl pt-3 pl-6 pr-6 bg-[#FDDCE8]/80 h-32;
  }

  .modalContent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .tokenLogo {
    height: 40px;
    width: 40px;
  }

  .tokenChoice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tokenChoice:hover {
    cursor: pointer;
    background-color: #FDDCE8;
  }
  
  .tokenName {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color:#000000;
  }
  
  .tokenTicker {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #000000;
  }

  .networkLogo {
    height: 40px;
    width: 40px;
  }

  .networkChoice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .networkChoice:hover {
    cursor: pointer;
    background-color: #FDDCE8;
  }
  
  .networkName {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color:#000000;
  }
}

.circles {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #85A0FF,#E1E1FF);
  background-blend-mode: darken;
}

.circlesDialog {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #85A0FF, #E1E1FF, #FFFFFF);
  background-blend-mode: darken;
}

.nftImage {
  display: block;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
}

.pink-gradient {
  background: #85A0FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #E1E1FF,
    #FDDCE8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #E1E1FF,
    #FDDCE8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #a0e3f4,
    #779ECB
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #a0e3f4,
    #779ECB
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.purple-gradient {
  background: #800080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #800080,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #800080,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

* {
  
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.sparkles-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.disabled-modal {
  pointer-events: none; 
  opacity: 0.6; 
}